<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">    
    <meta http-equiv="refresh" content="1">
</head>
<body>
    <h1 style="text-align: center">스마트 주차장</h1>
<div class="box">
    <div class="parent">
        <div class="first">
            <img src="{{ url_for('static', filename=image_file1)}}" width = 100%, height= 100%>
        </div>
        <div class="second">
            <img src="{{ url_for('static', filename=image_file2)}}" width = 100%, height= 100%>
        </div>
        <div class="third">
            <img src="{{ url_for('static', filename=image_file3)}}" width = 100%, height= 100%>
        </div>
    </div>
    
</div>
    <p style="font-size: 30px; text-align: center">
        현재 주차장 내 자리 :  {{d_var}}</p>
    <p style="font-size: 30px; text-align: center">
        1주차장 주차시간 :  {{a_subsec}}초</p>
    <p style="font-size: 30px; text-align: center">
        2주차장 주차시간 :  {{b_subsec}}초</p>
    <p style="font-size: 30px; text-align: center">
        3주차장 주차시간 :  {{c_subsec}}초</p>

<script>
    function listing() {
    $.ajax({
        type: "GET",
        url: "/parkinglot",
        data: {},
        success: function (response) {
            if (response["result"] == "success") {
                let orders = response['orders'];
                for (let i = 0; i < orders.length; i++) {
                    let name = orders[i]['name'];
                    let count = orders[i]['count'];
                    let address = orders[i]['address'];
                    let phone = orders[i]['phone'];

                    let temp_html = `<tr>
                                       <th scope="row">${name}</th>
                                       <td>${count}</td>
                                                <td>${address}</td>
                                       <td>${phone}</td>
                                    </tr>`
                    $('#orders-box').append(temp_html)
                }
            }
        }
   })
}


</script>










</body>
</html>